@media screen and (max-width:768px) {
    main{
        h4{
            font-size: 1.2rem;
        }
    }


    form{
        fieldset{
            width: 90%;
            flex-wrap: wrap;
            gap: 0.8rem;
            legend{
                font-size: 0.9rem;
            }

            label{
                font-size: 0.7rem;
                gap: 0.5rem !important;
                width: 40% !important;

                input, textarea{
                    width: 10rem;
                    font-size: 0.5rem;
                    height: 1rem;
                }

                select{
                    width: 10rem !important;
                }

                textarea{
                    height: 2.2rem;
                }
            }
        }

        .submit{
            width: 25% !important;
            font-size: 1rem !important;
        }
    }
}